/* The universal selector affects all elements in the page */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* The <body> tag contains most elements (i.e. images, headings, etc.) in the page  */

body {
    background-color: #d9dcd6;
}

/* The <header> tag affects elements at the top of the page and often contains the page's title and navigation links */

header {
    display: flex;
    justify-content: space-between;
    background-color: #2a607c;
    width: 100%;
    padding: 20px;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
}

header .seo {
    color: #d9dcd6;
}

#hero {
    height: 1000px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* The <nav> tag affects navigation links on the page */

nav {
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* <a> tag denotes links, <p> denotes paragraphs, and <h2> denotes a heading type */

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* The <main> tag can simply be thought of as the main content of a page  */

main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* these classes and their adjoined CSS properties all affect the section to the right of this page  */

.benefits {
    margin-right: 20px;
    padding: 22px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    background-color: #2589bd;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}

.benefits-images {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* these classes and their adjoined CSS properties affect the elements nested within <main>  */

.image-float-left {
    float: left;
    margin-right: 25px;
    max-height: 200px;
}

.image-float-right {
    float: right;
    margin-left: 25px;
    max-height: 200px;
}

.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    image-resolution: 30%;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    image-resolution: 30%;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    image-resolution: 30%;
}

/* The <footer> tag affects elements at the bottom of a page */

footer {
    font-size: 20px;
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}